# General
.vscode/
build/
bin/

# flight-controller
flight-controller/index.html
flight-controller/board/board_drivers_support.h
flight-controller/board/board_pinout.h
CMakeLists.txt.user

# GroundStation
GroundStation/src/GroundStation.pro.user
